doctype html
html(class="no-js", lang="ru")

  include ../blocks/head/head.pug
  include ../blocks/form/form.pug
  include ../blocks/popup/popup.pug

  head
    +head(head.defaults)
  body.page
    main.page__inner
      img.page__lock.page__lock_left(src="assets/images/general/lock.svg", alt="")
      img.page__lock.page__lock_right(src="assets/images/general/lock.svg", alt="")

      +form().page__form

      +popup()#popup.page__popup.mfp-hide

    script(src='%=static=%js/separate-js/jquery.min.js')
    script(src='%=static=%js/separate-js/jquery.magnific-popup.min.js')
    script(src='%=static=%js/main%=hash=%%=min=%.js')
