mixin popup(data)
    .popup&attributes(attributes)
        img.popup__logo(src="assets/images/general/logo-popup.svg", alt="")
        img.popup__loading(src="assets/images/general/loading.svg", alt="")

        .popup__form.form
            form.form__in(action="", method="post")
                .form__top.popup__top
                    .form__field
                        label.form__label(for="form-captcha") Enter the text of the captcha
                        input#form-captcha.form__input(type="text" value='foulin 78street')
                .form__bottom.popup__bottom
                    a.form__submit.button(href="#")
                        img.button__icon(src="assets/images/general/arrow.svg", alt="")
                        | Next
