mixin popup(data)
    .popup&attributes(attributes)
        |<svg class="popup__logo" width="304" height="78" viewBox="0 0 304 78" fill="none" xmlns="http://www.w3.org/2000/svg">
        |<rect width="304" height="78" rx="4" fill="#F8F8F8"/>
        |<rect x="0.5" y="0.5" width="303" height="77" rx="3.5" stroke="black" stroke-opacity="0.02"/>
        |</svg>
        != pugHelpers.Icon.call(locals, {iconName: 'loading', className: 'popup__loading'})
        .popup__form.form
            form.form__in(action="", method="post")
                .form__top.popup__top
                    .form__field
                        label.form__label(for="form-captcha") Enter the text of the captcha
                        input#form-captcha.form__input(type="text" value='foulin 78street')
                .form__bottom.popup__bottom
                    a.form__submit.button(href="#")
                        != pugHelpers.Icon.call(locals, {iconName: 'arrow', className: 'button__icon'})
                        | Next
