@font-face
  font-family: 'Blender Pro'
  src: local('Blender Pro Bold'), local('BlenderPro-Bold'), url('../fonts/hinted-subset-BlenderPro-Bold.woff2') format('woff2'), url('../fonts/hinted-subset-BlenderPro-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Blender Pro'
  src: local('Blender Pro Thin'), local('BlenderPro-Thin'), url('../fonts/hinted-subset-BlenderPro-Thin.woff2') format('woff2'), url('../fonts/hinted-subset-BlenderPro-Thin.woff') format('woff')
  font-weight: 100
  font-style: normal
  font-display: swap

@font-face
    font-family: 'Blender Pro Book'
    src: local('Blender Pro Book'), local('BlenderPro-Book'), url('../fonts/hinted-subset-BlenderPro-Book.woff2') format('woff2'), url('../fonts/hinted-subset-BlenderPro-Book.woff') format('woff')
    font-weight: normal
    font-style: normal
    font-display: swap


@font-face
    font-family: 'Blender Pro'
    src: local('Blender Pro Heavy'), local('BlenderPro-Heavy'), url('../fonts/hinted-subset-BlenderPro-Heavy.woff2') format('woff2'), url('../fonts/hinted-subset-BlenderPro-Heavy.woff') format('woff')
    font-weight: 900
    font-style: normal
    font-display: swap



@font-face
  font-family: 'Proxima Nova Rg'
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'), url('../fonts/hinted-subset-ProximaNova-Regular.woff2') format('woff2'), url('../fonts/hinted-subset-ProximaNova-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap



$b: "Blender Pro", Arial, "Helvetica Neue", Helvetica, sans-serif
$p: "Proxima Nova Rg", Arial, "Helvetica Neue", Helvetica, sans-serif
