mixin form(data)
    .form&attributes(attributes)
        img.form__logo(src="assets/images/general/logo.svg", alt="")

        form.form__in(action="", method="post")
            .form__top
                .form__field
                    label.form__label(for="form-pass") Decryption ID
                    input#form-pass.form__input(type="password" value='********************************')
            .form__bottom
                a.form__submit.button.open-popup(href="#popup")
                    img.button__icon(src="assets/images/general/arrow.svg", alt="")
                    | Next


mixin form-error(data)
    .form&attributes(attributes)
        img.form__logo(src="assets/images/general/logo.svg", alt="")
        form.form__in(action="", method="post")
            .form__top
                .form__field.form__field_error
                    label.form__label(for="form-pass") Decryption ID
                    input#form-pass.form__input(type="password" value='')
                    span.form__error incorrect key
            .form__bottom
                a.form__submit.button.open-popup(href="#popup")
                    img.button__icon(src="assets/images/general/arrow.svg", alt="")
                    | Next