mixin form(data)
    .form&attributes(attributes)
        |<svg class="form__logo" width="139" height="30" viewBox="0 0 139 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        |    <rect width="139" height="30" fill="#E3E3E3"/>
        |</svg>

        form.form__in(action="", method="post")
            .form__top
                .form__field
                    label.form__label(for="form-pass") Decryption ID
                    input#form-pass.form__input(type="password" value='********************************')
            .form__bottom
                a.form__submit.button.open-popup(href="#popup")
                    != pugHelpers.Icon.call(locals, {iconName: 'arrow', className: 'button__icon'})
                    | Next


mixin form-error(data)
    .form&attributes(attributes)
        |<svg class="form__logo" width="139" height="30" viewBox="0 0 139 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        |    <rect width="139" height="30" fill="#E3E3E3"/>
        |</svg>
        form.form__in(action="", method="post")
            .form__top
                .form__field.form__field_error
                    label.form__label(for="form-pass") Decryption ID
                    input#form-pass.form__input(type="password" value='')
                    span.form__error incorrect key
            .form__bottom
                a.form__submit.button.open-popup(href="#popup")
                    != pugHelpers.Icon.call(locals, {iconName: 'arrow', className: 'button__icon'})
                    | Next